.nav {
    display: flex;
    justify-content: space-between;

    h1 {
        color: blueviolet;
        margin: 0;
        font-size: 40px;
        a{
            text-decoration: none;
            color: blueviolet;
        }
    }

    ul {
        display: inline-flex;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            padding-left: 15px;
            padding-top: 15px;

            a {
                text-decoration: none;
                color: blueviolet;
            }
        }
    }

    .nav-search {

        flex: 1;
        margin-top: 5px;
        margin-left: 5%;
        margin-right: 5%;
        display: flex;

        input {
            color: blueviolet;
            border: 1px solid blueviolet;
            height: 39px;
            border-right: 0;
            flex: 1;
        }

        button {
            color: blueviolet;
            border: 1px solid blueviolet;
            height: 39px;
            border-left: 0;
        }
    }

}