
table{
    text-align: left;
    color: blueviolet;
    border: 1px solid blueviolet;
    border-collapse: collapse;
    width: 100%;
    td{
        border: 1px solid blueviolet;
        padding: 10px;
    }
    th{
        border: 1px solid blueviolet;
        padding: 10px;
    }
}
img{
    width: 100px;
    height: 100px;
}

h1 {
    margin-bottom: 50px;
    margin-top: 80px;
    color: blueviolet;
    text-align: center;
}