h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    color: blueviolet;
}

.common-form {
    a {
        color: blueviolet;
        text-decoration: none;
        cursor: pointer;
    }
}
